:root {
    --primary-purple: #6311e1;
    --primary-dark-purple: #330973;
    --secondary-pink: #D61DE0;
    --secondary-dark-pink: #9A15A1;
    --details-aquamarine: #07E0B3;
    --details-dark-aquamarine: #048e72;

}