@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }

    .slider h1 {
        font-size: 1rem;

    }

    .slider h2 {
        font-size: 4rem;
        transform: translateY(-0.5rem);
    }
}

@media screen and (max-width: 991.98px) {

    #wrapper {
        overflow-x: hidden;
        position: relative
    }

    nav a {
        color: white;
    }

    nav a:hover {
        font-weight: 700;
        color: white;
        border-bottom: solid 2px var(--details-aquamarine);

    }

    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50%;
        height: 90vw;
        background: var(--primary-purple);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 1;
        width: auto;

    }

    .mobile-menu {
        display: block;
    }
    
    #header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #header .navbar-collapse {
        width: 100%;
    }
    #header .navbar-toggler-icon{
        background-color: aquamarine;
        width: 100%;
    }

    .slider {
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10% 10%;
    }

   .slider #slider-text {
        position: static;
        z-index: 10;
    }

    .slider #slider-image {
        object-fit: contain;
        min-width: auto;
        max-height: 40vh;
        position: static;
        right: 2rem;
        z-index: 0;

    }

    .slider h2 {
        font-size: 3rem;
        transform: none;
    }

    .slider h1 {
        white-space: nowrap;
        font-size: 1rem;

    }

    .motivosList {
        width: 100%;
        gap: 2rem;
    }

    .motivosList hr {
        border-top: 1px solid var(--details-aquamarine);
        margin-bottom: 0;
    }

    .motivosItem {
        justify-content: space-between;
    }


    #contato-section {
        gap: 2rem;
    }

    #convite-contato h3 {
        font-size: 2rem;
    }

    #convite-contato p {
        font-size: 1rem;
    }

    #about-title {
        width: 100%;
    }




}

@media screen and (max-width: 640px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 100%;
        padding: 0rem 5%;
      } 
    


    .slider {
        height: auto;
        padding: 10% 5%;
        background-image: url('../images/bg-mobile.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: initial;

    }

   .slider #slider-text {
        width: 100%;
        display: flex;
        height: auto;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: start;
    }

    #slider-image-container {
        display: flex;
        flex-flow: row;
        justify-content: end;
        width: 100%;
        transform: translateY(-100px);

    }


    .slider #slider-image {
        object-fit: contain;
        position: relative;
        width: 30vw;
        z-index: 0;

    }

    #hero-cta {
        align-self: end;
    }



    #trabalhos-recentes h2{
        margin-top: 0;
        margin-bottom: 1rem;
        min-width: 50%;
        font-size: 1.6rem;
    }

    #works {
        gap: 1rem;
    }

    #works-list {
        position: relative;
        padding: 0 5% 10% 5%;

    }


    #portfolio-container {
        display: none;
    }

    #works-header-mobile{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: end;
        padding: 10% 5% 0 5%;
        text-align: end;
    }

    #works-header-mobile p {
        color: var(--secondary-pink);
    }

    #mobile-port {
        font-family: 'Satoshi-Bold';
        font-size: 2.5rem;
        color: var(--primary-purple);
        line-height: 0.9;

    }

    #mobile-folio {
        font-family: 'Boska-Black';
        font-size: 2.5rem;
        background: linear-gradient(145deg, rgba(99,17,225,1) 0%, rgba(214,29,224,1) 83%, rgba(7,224,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    }

    #portfolio-cta {
        font-size: 2rem;
    }

    #portfolio-msg {
        font-size: 1rem;
    }

    .folio {
        display: none;
    }

    #arrows {
        display: none;
    }

    #galeria {
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
        overflow-x: scroll;
        z-index: 100;
        position: relative;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }

    #fotos-container {
        max-width: 100%;
    }

    .fotos-item {
        min-width: 100%;
        scroll-snap-align: start;

    }

    #services {
        flex-flow: column;
    }

    #about {
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: space-between;
        align-items: start;
        padding: 10% 5% 0 5%;
    }

    #about-title h3 {
        min-width: 50%;
        font-size: 2rem;
        padding-bottom: 10%;
    }

    #about-title h4 {
        min-width: 50%;
        font-size: 1rem;
    }

    #about-title p {
        display: none;
    }

    #service-section {
        padding: 10% 5%;
    }

    #service-section h3 {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    #clients {
        padding: 10% 5%;
    }

    #clients h2 {
        font-size: 2rem;
        padding: 0 ;

    }

    #clients #clients-list .client-item {
        width: 40vw !important;
    }

    #motivos-section {
        padding: 10% 5%;
        gap: 0;
    }

   #galeria-container {
    width: 100%;
   }

   #fotos-container {
    width: 100%;
   }
   #galeria{
    width: 100%;
   }

    .motivosList {
        width: 100%;
        gap: 2rem;
    }

    .motivoItem {
        justify-content: space-between;
        align-items: flex-start;

    }

    #motivos-section h3 {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    .motivoNumber {
        font-size: 5rem;
        height: 5rem;
    }

    .wrapper {
        height: auto;
        overflow: auto;
        width: 90vw;
    }

    #motivos-section img {
        width: 55vw;
        position: absolute;
        bottom: -20vh;
        left: auto;
        right: -9vw;
    }

    #contato-section {
        padding: 10% 5% 10% 5%;
        flex-flow: column-reverse;
    }

    #convite-contato h3 {
        font-size: 2rem;
        z-index: 10;
    }

    #convite-contato p {
        font-size: 1rem;
        z-index: 10;

    }

    #form-contato {
        padding: 2rem;
        text-align: center;
    }

    #form-contato .btn-secondary, #form-contato .btn-secondary-outline {
        width: 100%;
        font-size: 1.5rem !important;
    }

    #about {
        gap: 0;
    }

    #about-image {
        width: 100%;
    }

    .br640 {
        display:block;
    }

    #about-title {
        padding-left: none;
        padding-right: none;
        width: 100%;
    }

    #footer-container {
        padding: 10% 5%;
    }

    #madeby {
        padding: 8px 5%;
    }


}
